.component.Map {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  height: 100%;
  width: 100%;

  .map-layer {
    height: 100%;
    width: 100%;

  }
  span.diamond {
    left: - $elem_diamond-size;
  }
}
