.component.PlanForm {
  z-index: 4;

  width: 100%;
  padding: $global_pad;

  background: $color_bg-light;
  border: 1px solid $color_brand-secondary;
  border-top: 0;

  .key-info {
    display: flex;

    .field {
      &:first-of-type {
        flex: 1 0 auto;

        padding-right: $global_pad;
      }
      &:last-of-type { flex: 1 0 fit-content; }

      label {
        display: block;

        margin-bottom: 4px;

        font-size: 14px;
        font-weight: 600;
      }

      input { width: 100%; }
    }
  }

  input {
    padding: 4px 8px;

    font-size: 12px;

    border: 1px solid $color_bg-medium;
  }

  button.light { font-size: 12px; }

  .timeframes {
    max-height: 50vh;
    margin: ($global_pad / 2) auto;

    border-bottom: 1px solid $color_bg-medium;
    overflow-y: scroll;
    overflow-x: hidden;
  }

}
