.component.Viewer {

  .page-wrapper { height: calc(100vh - #{$elem_header-height}); }

  .left-panel {
    position: absolute;
    top: $global_pad;
    left: $global_pad;

    *[data-action="toggle-plan-form"] {
      display: block;
      z-index: 1;

      width: $elem_Card-width;

      background: $color_brand-secondary;
      border: 0;

      &:hover { background: $color_brand-secondary--active; }

      img {
        top: 2px;

        height: 12px;
        width: auto;
        margin-right: 10px;
      }
    }
  }

}
