button, .button {
  &.styled {
    padding: 6px 12px;

    color: $color_font-light;
    font-size: 14px;
    text-align: center;

    background: $color_brand-secondary;    
    border: 0;
    transition: background .15s;

    &:hover { transition: background .15s; }
  }
}
