.component.DropdownField {

  display: inline-block;

  width: 50%;

  &.invalid {
    .Select-control {
      @extend ._invalid-field; 
    } 
  }

  .Select.is-disabled {
    .Select-placeholder { color: $color_font-medium; }
  }

  .Select-placeholder {
    @extend ._vertical-center; 
    top: 45%;

    width: 100%;
    color: $color_font-dark;
    font-weight: 100;

    font-size: 12px;
    line-height: inherit;

    overflow: visible;
  }

  .Select-multi-value-wrapper {
    display: inline-block;

    width: 100%; 
  }

  .Select-input { height: auto; }

  .Select-value {
    padding-right: 10px !important;

    font-size: 12px; 
    line-height: inherit;

    span {
      @extend ._vertical-center; 

      left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .Select-clear-zone { right: -8px; }

  .Select-arrow { 
    @extend ._arrow;

    right: -5px;
  }

  .Select-control {
    height: 26px;

    color: $color_font-dark;

    background: $color_bg-light; 
    border-color: $color_bg-medium;
    border-radius: 0;

    input {
      padding: 0;

      border: 0; 
    }
  }

  .Select-menu-outer { 
    color: $color_font-dark;
    font-size: 12px;
  }

}
