.component.TimeframeField {
  @extend ._clear;

  padding-bottom: 8px;
  margin-bottom: 8px;

  & + .TimeframeField { border-top: 1px solid $color_bg-medium; }

  .timeframe-header {
    margin: 18px auto 10px;

    button { float: right; }    
    .minor { top: 3px; }
  } 

  h4 {
    display: inline-block; 

    margin: 0;

    font-size: 14px;

    span { color: $color_brand-primary; } 
  }

  button[data-action="add-road"] { 
    float: right; 

    margin-top: $global_pad * 3;
  }

  .timeframe-columns {
    display: flex; 

    .column {
      &:first-of-type { flex: 1 0 40%; } 
      &:last-of-type { flex: 1 0 60%; }
    }

    .field { margin-bottom: 10px; }

    label {
      display: block;

      margin-bottom: 4px; 

      font-size: 12px; 
      font-weight: 600;
    }

    .multi-select {
      .SelectField + .SelectField { margin-left: 10px; }
    }
  }

}
