$color_brand-primary: #63AEA9;
$color_brand-primary--dark: #488985;
$color_brand-secondary: #F5A87C;
$color_brand-secondary--dark: #DB7F49;

$color_bg-light: #FFFFFF;
$color_bg-medium: #C9C9C9;
$color_bg-dark: #413E56;

$color_font-light: #FFFFFF;
$color_font-medium: #C9C9C9;
$color_font-dark: #413E56;

$font_family-primary: 'europa', Helvetica, sans-serif;

$elem_header-height: 50px;

$global_shadow: 1px 1px 4px rgba($color_bg-medium, 1);
$global_pad: 14px;

