span.diamond {
  @extend ._vertical-center;

  $size: 5px;

  left: $global_pad - $size;
  display: block;
  
  width: 0;
  height: 0;

  border: $size solid;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: 50% 0 0;
  transition: $elem_diamond-trans;
}
